.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-icon {
    background-color: transparent; 
    border: none; 
    color: rgb(43, 43, 43); 
}
.btn-icon:hover {
    color: rgb(0, 174, 255);
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  padding: 20px;
}

.card {
  display: flex;
  padding: 20px;
  max-width: 100vh;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.icon {
  margin: 20px
}

.project-grid {
  margin: 20px;
  display: grid
}

.project-card {
  margin: 20px;
  min-height: 15vh;
  max-width: 30vh;
}
.project-row {
  display: flex;
}