.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}

.btn-icon {
    background-color: transparent; 
    border: none; 
    color: rgb(43, 43, 43); 
}
.btn-icon:hover {
    color: rgb(0, 174, 255) !important;
}

.home-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-weight: 500;
  text-shadow:  0 1px #05377048
}

.home-buttons {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-title {
  font-weight: 600;
  border-bottom: 4px solid rgb(0, 174, 255);
  /* text-shadow:  0 1px #05377048 */
}

.image {
  padding: 2rem;
  max-width: 25rem;
}

.about-card {
  padding: 1rem;
  max-width: 50rem;
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-skills-title {
  padding-top: 2rem;
  font-weight: 500;
  font-style: italic;
}

.about-description {
  font-weight: 400;
  font-size: 1.2rem;
}

.card {
  display: flex;
  max-width: 100vh;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.icon {
  margin: 1rem
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  max-width: 70rem;
}

.project-card {
  margin: 1rem;
  max-width: 30rem;
}

.project-card-img {
  object-fit: cover;
  max-height: 15rem;
}

.project-card-title {
  font-weight: 600 !important;
  font-style: italic;
}

.project-card-text {
  font-weight: 400;
  font-size: 1.2rem;
}

.project-button {
  float: right;
  padding: 0 !important;
}

.footer {
  background-color: rgba(0,0,0,.03);
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.blue {
  color: rgb(0, 174, 255);
}

.blue-href {
  color: rgb(0, 174, 255);
  text-decoration: none;
}

.blue-href:hover {
  color: rgb(0, 174, 255);  
  text-decoration: underline;
}