.a-blue {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.btn-icon {
  background-color: transparent;
  border: none;

  &:hover {
    color: $primary-color !important;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-top: 40px; 
  margin-top: -40px;
}

.section-title {
  font-weight: 600;
  border-bottom: 4px solid $primary-color;
}
